/* global start */

:root {
  --color-a: #706a5c;
  --color-b: #fcf0cf;
  --color-c: #afa690;
  --color-d: #bdb39b;
  --color-e: #968f7b;
  --fixed-width: 30%;
}

* {
  font-family: "Coming Soon", cursive;
  color: var(--color-a);
  background-color: var(--color-b);
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* global end / body start */

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--fixed-width);
}

.joke {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.joke-button {
  display: block;
  padding: 10px;
  background-color: var(--color-a);
  border: 1px solid var(--color-e);
  border-radius: 5px;
  color: var(--color-b);
  align-self: center;
}

.joke-button:hover {
  background-color: var(--color-e);
  border: 1px solid var(--color-a);
}

.joke h2,
.joke h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.joke em {
  margin-bottom: 0.5rem;
}

.error {
  color: red;
  font-style: italic;
  margin-bottom: 0;
}

/* body end / header start */

header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--color-a);
  width: var(--fixed-width);
}

header h1 {
  margin-bottom: 0;
}

header p {
  margin-top: 0.2rem;
}

/* header end / main start */

main {
  margin: 3rem 0;
}

/* main end / footer start */

footer {
  border-top: 1px solid var(--color-a);
  width: var(--fixed-width);
}

/* footer end */
